{% extends "admin/base_admin.html" %}

{% block content %}

    <h2 class="h2-course">Listado de curso</h2>

    <table class="table table-striped table-hover">
        
            <tr>
                <th>Representante</th>
                <th>Colegio</th>
                <th>Curso</th>
                <th>Cantidad de alumnos</th>
                <th>Servicio</th>
                <th>Destino</th>
                <th>Fecha de viaje</th>
                <th>Monto depositado</th>
                <th>Meta definida</th>
            </tr>

        {% for curso in cursos %}
            <tr>
                <td>{{curso.id_cliente.username}}</td>
                <td>{{curso.colegio}}</td>
                <td>{{curso.nivel_curso}}</td>
                <td class="cantidad-alumnos">{{curso.cantidad_alumnos}}</td>
                <td>{{curso.servicio}}</td>
                <td>{{curso.destino}}</td>
                <td>{{curso.fecha_viaje}}</td>
                <td>{{curso.monto_depositado}}</td>
                <td>{{curso.meta_monto}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}